[http]
	proxy = http://proxy:3128
[user]
	name = Ted Zhu
	email = tzhu@mintel.com
[merge]
	tool = vimdiff
[alias]
	ci = commit
	us = reset HEAD --
    back = checkout --
	last = log -1 HEAD
	co = checkout
	st = status
	br = branch
    l  = log --pretty=format:'%h - %an, %cn, %ar : %s' --graph
    #lg = !"git lg1"
    #lg1 = !"git lg1-specific --all"
    #lg2 = !"git lg2-specific --all"
    #lg3 = !"git lg3-specific --all"
    #lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
    #lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
    #lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(white)%s%C(reset)%n''          %C(dim white)- %an <%ae> %C(reset) %C(dim white)(committer: %cn <%ce>)%C(reset)'
